body {
    background-color: #f4f4f9;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 20px 50px;

}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#projects-list {
    /* Делал я (без ИИ) */
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
}

.project-card {
    /* Тоже делал я без ИИ  */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 25px;
    min-height: 275px;
    width: calc((100% / 3) - (50px * 2 / 3));
    border-radius: 25px;
    box-shadow: 0 10px 30px rgba(122, 102, 65, 0.6);
    background-color: #f7e1c1fd;
    cursor: pointer;

}

.project-link {
    margin-top: auto;
}

@media (max-width: 600px) {
  .project-card {
    width: 100%;
  }
}
